@import'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1;
    position: relative;
    scroll-behavior: smooth;
    background-image: url(../../public/images/index/bg.png);
    background-repeat: repeat;
    scroll-behavior: smooth
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Noto Sans TC", Arial, Helvetica, sans-serif
}

img {
    width: 100%
}

.container {
    max-width: 1250px
}

.none {
    display: none
}

main {
    overflow: hidden
}

section {
    margin-top: 190px
}

.title-style {
    font-size: 36px;
    color: var(--brand-color_5);
    margin-bottom: 114px;
    letter-spacing: 10px;
    font-weight: 700
}

.submit {
    background-color: var(--brand-color_2);
    width: 169px;
    text-align: center;
    color: var(--white);
    font-size: 16px;
    height: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    border: 0;
    margin: auto;
    margin-top: 60px
}

.submit a {
    color: var(--white)
}

.coupon .main {
    background-color: var(--white);
    border-radius: 5px
}

.coupon .main hr {
    margin: 20px;
    background-color: var(--brand-color_2);
    opacity: .1
}

.coupon .main .title {
    background-color: var(--brand-color_7);
    border-radius: 5px 5px 0 0
}

.coupon .main .title h3 {
    color: var(--brand-color_2);
    font-size: 24px;
    padding: 20px 25px;
    font-weight: 700
}

.coupon .main .content {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 52px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.coupon .main .content .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 38px 26px;
    background-color: var(--brand-color_9);
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 48%;
    margin-top: 41px;
    border-radius: 5px;
    border: 1px dashed var(--brand-color_2)
}

.coupon .main .content .item .image {
    height: 53px
}

.coupon .main .content .item .image img {
    width: auto;
    height: 100%
}

.coupon .main .content .item .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 28px;
    padding: 10px 59px;
    background: #fff;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.coupon .main .content .item .right p {
    font-weight: 700;
    color: var(--warming);
    margin-left: 7px
}

.coupon .main .content .item .right p span {
    font-size: 42px
}

.coupon .main .content .coupon-growp {
    padding: 34px 0
}

.coupon .main .content .coupon-growp .item-coupon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 5px;
    border: 1px dashed var(--brand-color_2)
}

.coupon .main .content .coupon-growp .item-coupon p {
    color: var(--brand-color_5)
}

.coupon .main .content .coupon-growp .item-coupon .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 16px 26px
}

.coupon .main .content .coupon-growp .item-coupon .left .top {
    margin-bottom: 39px
}

.coupon .main .content .coupon-growp .item-coupon .left .top .title {
    margin-top: 7px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    color: var(--brand-color_5)
}

.coupon .main .content .coupon-growp .item-coupon .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 21px;
    border-left: 1px dashed var(--brand-color_2);
    background-color: var(--brand-color_9)
}

.coupon .main .content .coupon-growp .item-coupon .right p {
    color: var(--brand-color_5)
}

.coupon .main .content .coupon-txt {
    background-color: var(--brand-color_9);
    padding: 26px
}

.coupon .main .content .coupon-txt h3 {
    color: var(--brand-color_5);
    font-size: 18px;
    margin-bottom: 15px
}

.coupon .main .content .coupon-txt ol {
    list-style: auto;
    padding-left: 22px
}

.coupon .main .content .coupon-txt ol li {
    color: var(--brand-color_5);
    margin: 10px 0;
    line-height: 40px
}

.coupon .main .content .coupon-txt img {
    width: 20px;
    height: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-top: 57px
}

.coupon .get-coupons {
    margin-top: 38px;
    margin-bottom: 120px
}